<aside class="main-sidebar sidebar-dark-primary elevation-4" style="    background: #222d32;">
    <a href="index3.html" class="brand-link">
        <span class="brand-text font-weight-light">No Más Accidentes</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="info">
                <a href="#" class="d-block">Bienvenido (a) {{username}}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a routerLink="dashboard" class="nav-link">
                        <i class="nav-icon fas fa-home"></i>
                        <p>Home</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="capacitacion" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Capacitacion</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="asesorias" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Asesorias</p>
                    </a>
                </li>
                <!-- <li class="nav-item">
              <a routerLink="mis-servicios" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>Mis servicios</p>
              </a>
          </li> -->

                <li class="nav-item">
                    <a routerLink="mi-contrato" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Mi Contrato</p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Mis solicitudes</p>
                        <i class="right fas fa-angle-left"></i>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a routerLink="solicitudAsesoria" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Solicitud Asesoria</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="solicitudCapacitacion" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Solicitud Capacitación</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="solicitudAsesoriaEspecial" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Solicitud Asesoria Especial</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>